*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
h1 {
    /* Declaration Block */
    color: blue; /* Declaration */
    font-size: 24px; /* Declaration */
    text-align: center;
  }
  
  p {
    color: #333; /* Hexadecimal color value */
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .my-class {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  #my-id {
    width: 300px;
    margin: 0 auto;
  }
  
  a:hover {
    color: red;
    text-decoration: underline;
  }